{% set description = "Senior front-end / UX Engineer and UI Designer specializing in modern web development, accessibility, and thoughtful user interface
design. Passionate about crafting performant, human-centered web experiences built with care. " %} {% extends "_includes/default.njk" %} {% block title %}Chris
Spurlock | Front-End Developer{% endblock %} {% block content %}
<main class="pt-6 md:pt-12">
	<section class="px-6 md:px-12 max-w-[108rem] mx-auto">
		<div
			class="px-6 py-16 mx-auto text-center text-white bg-gradient-to-br from-zinc-950 to-zinc-800 md:px-16 md:py-32 bg-zinc-50 sm:py-32 rounded-4xl ring-1 ring-[rgba(0,0,0,.05)] dark:ring-[rgba(255,255,255,.05)] ring-inset dark:bg-gradient-to-br dark:from-zinc-950 dark:to-zinc-900 dark:ring-inset"
		>
			<img
				src="/images/headshot-128.webp"
				srcset="/images/headshot-64.webp 64w, /images/headshot-128.webp 128w, /images/headshot-256.webp 256w"
				sizes="(max-width: 64px) 64px, (max-width: 128px) 128px, 256px"
				alt="Headshot style image of Chris Spurlock, UI Developer"
				class="block object-cover object-center w-32 h-auto mx-auto mb-6 rounded-full aspect-square"
				loading="eager"
				decoding="async"
			/>
			<h1 class="mb-2 text-5xl font-semibold md:text-6xl">Chris Spurlock</h1>
			<h2
				class="inline-block mb-4 text-xl font-medium text-transparent md:text-2xl bg-gradient-to-r from-fuchsia-800 via-fuchsia-300 to-fuchsia-800 bg-clip-text"
			>
				A Passion for Pixels and Polish
			</h2>
			<p class="max-w-2xl mx-auto mb-8 text-base md:mb-12 md:text-lg text-zinc-400">
				Senior front-end / UX Engineer and UI Designer with a journalist’s eye and a builder’s heart. I craft accessible, high-performance web
				experiences with care and clarity.
			</p>
			<div class="flex flex-col justify-center gap-2 sm:items-center sm:flex-row">
				<a
					href="/about/"
					class="inline-flex justify-center py-2.5 px-8 rounded-full bg-transparent shadow-button-light font-medium border border-zinc-700 hover:bg-zinc-950 transition-all duration-300 ease-linear"
					aria-label="About Chris Spurlock"
					>About Me</a
				>
				<a
					href="/assets/Chris-Spurlock-Senior-Front-End-Developer-and-UI-Designer-Resume.pdf"
					target="_blank"
					rel="noopener nofollow"
					class="inline-flex py-2.5 px-8 rounded-full bg-fuchsia-700 border justify-center border-fuchsia-700 shadow-button font-medium hover:bg-fuchsia-900 transition-all duration-300 ease-linear"
					aria-label="Download Chris Spurlock’s resume as a PDF document (opens in new tab)"
					>Download Resume</a
				>
			</div>
		</div>
	</section>
	<section class="px-6 md:px-12 max-w-[108rem] mx-auto">
		<div class="py-12 mx-auto md:py-16 max-w-7xl">
			{% from "_includes/project-tabs.njk" import projectTabs %} {% set designDevProjects = [ { id: 1, title: 'Sure Sports', subtitle: 'Modern, minimal UI
			for contract-based lending platform', content: 'Custom WordPress theme built from scratch with Kadence, Gutenberg, and ACF. Designed a flexible
			block-based system to serve a niche, high-trust user base with speed, polish, and clarity.', imageUrl: '/images/sure-sports.webp', altText: 'Sure
			Sports website screenshot. The site headline is Better Banking for Athletes and there is an illustration of a baseball player in a line art style.
			Two buttons read Call Now and Request Financing.', date: 'June 2023', dateTime: '2023-06', link: 'https://www.suresports.com', prettyLink:
			'suresports.com', tags: [ { label: 'Design', color: 'teal-500' }, { label: 'Development', color: 'amber-500' }, { label: 'Project Management',
			color: 'sky-500' } ] }, { id: 2, title: 'You Are Not Stuck', subtitle: 'Playful, approachable UI for bestselling self-help author', content: 'Led UI
			design and QA on a custom Kadence theme with WooCommerce, LearnDash, and AutomateWoo — blending coaching, commerce, and community into a unified,
			user-first experience. ', imageUrl: '/images/you-are-not-stuck.webp', altText: 'You Are Not Stuck website screenshot. The site headline is Hi! I am
			Becky Vollmer. Author. Teacher. Speaker. Seeker. and there is a headshot photo of Vollmer on the right.', date: 'January 2023', dateTime: '2023-01',
			link: 'https://www.youarenotstuck.com', prettyLink: 'youarenotstuck.com', tags: [ { label: 'Design', color: 'teal-500' }, { label: 'Project
			Management', color: 'sky-500' } ] }, { id: 3, title: 'A Place 2 Grow', subtitle: 'Whimsical, parent-friendly UI for a nature-focused childcare
			center', content: 'Custom WordPress build featuring ACF-powered templates, a weekly meal calendar, an event calendar, photo galleries, and classroom
			pages — all with thoughtfully designed, print-friendly layouts for parents.', imageUrl: '/images/a-place-2-grow.webp', altText: 'A Place 2 Grow
			website screenshot. The site headline is Reggio Emilia inspired curriculum for ages six weeks to twelve years. The pictured section of the site has
			a spring-green background and features logos of organizations to which A Place 2 Grow belongs.', date: 'April 2018', dateTime: '2018-04', link:
			'https://www.aplace2growchildcarecenter.com/', prettyLink: 'aplace2growchildcarecenter.com', tags: [ { label: 'Design', color: 'teal-500' }, {
			label: 'Development', color: 'amber-500' }, { label: 'Project Management', color: 'sky-500' } ] }, { id: 4, title: 'AAIMEA Member Dashboard',
			subtitle: 'Responsive, streamlined UX overhaul for HR platform’s member dashboard', content: 'One-page member portal redesign with a focus on
			clarity, speed, and usability — built with Tailwind, custom interactivity, and a GPT-powered assistant. Currently leading the design and project
			management of a custom Vue-based LMS, set to launch soon.', imageUrl: '/images/aaim-member-dashboard.webp', altText: 'AAIMEA Member Dashboard
			website screenshot. The dashboard contains links to various member resources and also features a call to action to a forthcoming AI chatbot.', date:
			'March 2024', dateTime: '2024-03', link: 'https://aaimea.org/member-dashboard/', prettyLink: 'aaimea.org/member-dashboard', tags: [ { label:
			'Design', color: 'teal-500' }, { label: 'Development', color: 'amber-500' }, { label: 'Project Management', color: 'sky-500' } ] } ] %}

			{{
				projectTabs(
					"Pushing Pixels",
					"Designs That Delight",
					"Projects where I led the UI design—shaping strategy, structure, and style to create intuitive, inclusive experiences that feel as good as they look.",
					designDevProjects
				)
			}}
		</div>

		<div
			class="py-16 md:py-24 bg-zinc-50 sm:py-32 rounded-4xl ring-1 ring-[rgba(0,0,0,.05)] dark:ring-[rgba(255,255,255,.05)] ring-inset dark:bg-gradient-to-br dark:from-zinc-900 dark:to-zinc-800 dark:ring-inset"
		>
			<div class="max-w-2xl px-6 mx-auto lg:max-w-7xl lg:px-8">
				<span class="block mb-3 text-base font-medium text-center text-fuchsia-600 dark:text-fuchsia-500">The Stack</span>
				<h2
					class="max-w-lg mx-auto mt-2 mb-4 text-4xl font-semibold tracking-tight text-center text-balance text-zinc-950 dark:text-zinc-50 sm:text-5xl"
				>
					Technologies I Use
				</h2>
				<p class="max-w-xl mx-auto mb-10 text-lg text-center text-zinc-600 dark:text-zinc-400">
					Over the years, I&rsquo;ve worked with a range of technologies in the web development world, from frontend to backend and everything in
					between. These are the ones I trust and return to daily.
				</p>
				<div class="grid gap-4 mt-10 sm:mt-16 lg:grid-cols-3">
					<div class="relative">
						<div class="absolute inset-px rounded-lg bg-white dark:bg-zinc-950 lg:rounded-tl-[2rem]"></div>
						<div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-tl-[calc(2rem+1px)]">
							<div class="p-8">
								<h3 class="text-xl font-semibold text-zinc-950 dark:text-zinc-50">Languages & Syntax</h3>
								<p class="max-w-lg mt-2 mb-4 text-zinc-600 dark:text-zinc-400 text-sm/6">
									The core coding languages I use to build and debug everything from themes to APIs.
								</p>
								<div class="flex flex-wrap gap-2">
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/javascript/F7DF1E"
											alt="JavaScript logo"
										/>
										JavaScript
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/typescript/3178C6"
											alt="TypeScript logo"
										/>
										TypeScript
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/php/777BB4"
											alt="PHP logo"
										/>
										PHP
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/html5/E34F26"
											alt="HTML5 logo"
										/>
										HTML
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/css/663399"
											alt="CSS logo"
										/>
										CSS
									</div>
								</div>
							</div>
						</div>
						<div
							class="pointer-events-none absolute inset-px rounded-lg shadow-sm ring-1 ring-[rgba(0,0,0,.05)] dark:ring-[rgba(255,255,255,.05)] lg:rounded-tl-[2rem]"
						></div>
					</div>
					<div class="relative">
						<div class="absolute bg-white rounded-lg dark:bg-zinc-950 inset-px"></div>
						<div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]">
							<div class="p-8">
								<h3 class="text-xl font-semibold text-zinc-950 dark:text-zinc-50">Frameworks & Libraries</h3>
								<p class="max-w-lg mt-2 mb-4 text-zinc-600 dark:text-zinc-400 text-sm/6">
									Tools I use to organize, enhance, or extend core languages.
								</p>
								<div class="flex flex-wrap gap-2">
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/react/61DAFB"
											alt="React logo"
										/>
										React
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/vuedotjs/4FC08D"
											alt="Vue logo"
										/>
										Vue
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											class="dark:hidden"
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/eleventy/222222"
											alt="Eleventy logo"
										/>
										<img
											class="hidden object-contain object-center w-4 h-4 dark:block"
											height="16"
											width="16"
											src="https://cdn.simpleicons.org/eleventy/ffffff"
											alt="Eleventy logo"
										/>
										Eleventy
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4 dark:hidden"
											src="https://cdn.simpleicons.org/nunjucks/1C4913"
											alt="Nunjucks logo"
										/>
										<img
											height="16"
											width="16"
											class="hidden object-contain object-center w-4 h-4 dark:block"
											src="https://cdn.simpleicons.org/nunjucks/2ea010"
											alt="Nunjucks logo"
										/>
										Nunjucks
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/tailwindcss/06B6D4"
											alt="Tailwind CSS logo"
										/>
										Tailwind CSS
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											class="object-contain object-center w-4 h-4 dark:hidden"
											height="16"
											width="16"
											src="https://cdn.simpleicons.org/shadcnui/000000"
											alt="shadcn/ui logo"
										/>
										<img
											class="hidden object-contain object-center w-4 h-4 dark:block"
											height="16"
											width="16"
											src="https://cdn.simpleicons.org/shadcnui/ffffff"
											alt="shadcn/ui logo"
										/>
										shadcn/ui
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											class="object-contain object-center w-4 h-4 dark:hidden"
											height="16"
											width="16"
											src="https://cdn.simpleicons.org/radixui/161618"
											alt="Radix UI logo"
										/>
										<img
											class="hidden object-contain object-center w-4 h-4 dark:block"
											height="16"
											width="16"
											src="https://cdn.simpleicons.org/radixui/ffffff"
											alt="Radix UI logo"
										/>
										Radix UI
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/headlessui/66E3FF"
											alt="Headless UI logo"
										/>
										Headless UI
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/alpinedotjs/8BC0D0"
											alt="Alpine.js logo"
										/>
										Alpine.js
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/framer/0055FF"
											alt="Framer logo"
										/>
										Framer
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/lottiefiles/00DDB3"
											alt="Lottie logo"
										/>
										Lottie
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/greensock/88CE02"
											alt="GSAP logo"
										/>
										GSAP
									</div>
								</div>
							</div>
						</div>
						<div
							class="absolute rounded-lg shadow-sm pointer-events-none inset-px ring-1 ring-[rgba(0,0,0,.05)] dark:ring-[rgba(255,255,255,.05)]"
						></div>
					</div>
					<div class="relative">
						<div class="absolute bg-white dark:bg-zinc-950 rounded-lg lg:rounded-tr-[2rem] inset-px"></div>
						<div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-tr-[calc(2rem+1px)]">
							<div class="p-8">
								<h3 class="text-xl font-semibold text-zinc-950 dark:text-zinc-50">Design & UX Tools</h3>
								<p class="max-w-lg mt-2 mb-4 text-zinc-600 dark:text-zinc-400 text-sm/6">
									Where I shape ideas visually and refine complex interfaces.
								</p>
								<div class="flex flex-wrap gap-2">
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/figma/F24E1E"
											alt="Figma logo"
										/>
										Figma
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/sketch/F7B500"
											alt="Sketch logo"
										/>
										Sketch
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="/images/Adobe_XD_CC_icon.svg"
											alt="Adobe XD logo"
										/>
										Adobe XD
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4 dark:hidden"
											src="https://cdn.simpleicons.org/miro/050038"
											alt="Miro logo"
										/>
										<img
											height="16"
											width="16"
											class="hidden object-contain object-center w-4 h-4 dark:block"
											src="https://cdn.simpleicons.org/miro/ffdd33"
											alt="Miro logo"
										/>
										Miro
									</div>
								</div>
							</div>
						</div>
						<div
							class="absolute rounded-lg lg:rounded-tr-[2rem] shadow-sm pointer-events-none inset-px ring-1 ring-[rgba(0,0,0,.05)] dark:ring-[rgba(255,255,255,.05)]"
						></div>
					</div>
					<div class="relative">
						<div class="absolute bg-white rounded-lg dark:bg-zinc-950 inset-px"></div>
						<div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]">
							<div class="p-8">
								<h3 class="text-xl font-semibold text-zinc-950 dark:text-zinc-50">CMS & Site Builders</h3>
								<p class="max-w-lg mt-2 mb-4 text-zinc-600 dark:text-zinc-400 text-sm/6">
									How I build, scale, and manage client sites—especially in WordPress.
								</p>
								<div class="flex flex-wrap gap-2">
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/wordpress/21759B"
											alt="WordPress logo"
										/>
										WordPress
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img height="16" width="16" class="object-contain object-center w-4 h-4" src="/images/acf-icon.svg" alt="ACF logo" />
										ACF
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="/images/kadencewp-icon.svg"
											alt="Kadence logo"
										/>
										Kadence
									</div>
								</div>
							</div>
						</div>
						<div
							class="absolute rounded-lg shadow-sm pointer-events-none inset-px ring-1 ring-[rgba(0,0,0,.05)] dark:ring-[rgba(255,255,255,.05)]"
						></div>
					</div>
					<div class="relative">
						<div class="absolute bg-white rounded-lg dark:bg-zinc-950 inset-px"></div>
						<div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]">
							<div class="p-8">
								<h3 class="text-xl font-semibold text-zinc-950 dark:text-zinc-50">Tooling & DevOps</h3>
								<p class="max-w-lg mt-2 mb-4 text-zinc-600 dark:text-zinc-400 text-sm/6">
									My environment, deployment, hosting, and version control setup.
								</p>
								<div class="flex flex-wrap gap-2">
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4 dark:hidden"
											src="https://cdn.simpleicons.org/github/181717"
											alt="GitHub logo"
										/>
										<img
											class="hidden object-contain object-center w-4 h-4 dark:block"
											height="16"
											width="16"
											src="https://cdn.simpleicons.org/github/ffffff"
											alt="GitHub logo"
										/>
										GitHub
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/netlify/00C7B7"
											alt="Netlify logo"
										/>
										Netlify
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/wpengine/0ECAD4"
											alt="WP Engine logo"
										/>
										WP Engine
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/local/51BB7B"
											alt="Local logo"
										/>
										Local
									</div>
								</div>
							</div>
						</div>
						<div
							class="absolute rounded-lg shadow-sm pointer-events-none inset-px ring-1 ring-[rgba(0,0,0,.05)] dark:ring-[rgba(255,255,255,.05)]"
						></div>
					</div>
					<div class="relative">
						<div class="absolute bg-white rounded-lg dark:bg-zinc-950 inset-px"></div>
						<div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]">
							<div class="p-8">
								<h3 class="text-xl font-semibold text-zinc-950 dark:text-zinc-50">Data & API Work</h3>
								<p class="max-w-lg mt-2 mb-4 text-zinc-600 dark:text-zinc-400 text-sm/6">
									How I connect apps, send data, and build integrations.
								</p>
								<div class="flex flex-wrap gap-2">
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											class="object-contain object-center w-4 h-4 dark:hidden"
											height="16"
											width="16"
											src="/images/rest_api_logo.svg"
											alt="REST logo"
										/>
										<img
											class="hidden object-contain object-center w-4 h-4 dark:block"
											height="16"
											width="16"
											src="/images/rest_api_logo_white.svg"
											alt="REST logo"
										/>
										REST APIs
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											class="object-contain object-center w-4 h-4 dark:hidden"
											height="16"
											width="16"
											src="https://cdn.simpleicons.org/json/000000"
											alt="JSON logo"
										/>
										<img
											class="hidden object-contain object-center w-4 h-4 dark:block"
											height="16"
											width="16"
											src="https://cdn.simpleicons.org/json/ffffff"
											alt="JSON logo"
										/>
										JSON
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/postman/FF6C37"
											alt="Postman logo"
										/>
										Postman
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/swagger/85EA2D"
											alt="Swagger logo"
										/>
										Swagger
									</div>
								</div>
							</div>
						</div>
						<div
							class="absolute rounded-lg shadow-sm pointer-events-none inset-px ring-1 ring-[rgba(0,0,0,.05)] dark:ring-[rgba(255,255,255,.05)]"
						></div>
					</div>
					<div class="relative">
						<div class="absolute bg-white rounded-lg dark:bg-zinc-950 inset-px lg:rounded-bl-[2rem]"></div>
						<div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px) lg:rounded-bl-[calc(2rem+1px)]]">
							<div class="p-8">
								<h3 class="text-xl font-semibold text-zinc-950 dark:text-zinc-50">Marketing & Measurement</h3>
								<p class="max-w-lg mt-2 mb-4 text-zinc-600 dark:text-zinc-400 text-sm/6">
									For SEO, analytics, conversion tracking, inclusiveness, and compliance.
								</p>
								<div class="flex flex-wrap gap-2">
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="/images/a11y-icon.svg"
											alt="Accessibility logo"
										/>
										Accessibility
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/google/4285F4"
											alt="Google Tag Manager logo"
										/>
										GTM
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/yoast/A61E69"
											alt="Yoast logo"
										/>
										SEO
									</div>
								</div>
							</div>
						</div>
						<div
							class="absolute rounded-lg shadow-sm pointer-events-none inset-px ring-1 ring-[rgba(0,0,0,.05)] dark:ring-[rgba(255,255,255,.05)] lg:rounded-bl-[2rem]"
						></div>
					</div>
					<div class="relative">
						<div class="absolute bg-white rounded-lg dark:bg-zinc-950 inset-px"></div>
						<div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]">
							<div class="p-8">
								<h3 class="text-xl font-semibold text-zinc-950 dark:text-zinc-50">AI & Automation</h3>
								<p class="max-w-lg mt-2 mb-4 text-zinc-600 dark:text-zinc-400 text-sm/6">
									Tools I use to streamline workflows, refine ideas, and code smarter (and faster).
								</p>
								<div class="flex flex-wrap gap-2">
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4 dark:hidden"
											src="https://cdn.simpleicons.org/openai/412991"
											alt="OpenAI logo"
										/>
										<img
											height="16"
											width="16"
											class="hidden object-contain object-center w-4 h-4 dark:block"
											src="https://cdn.simpleicons.org/openai/ffffff"
											alt="OpenAI logo"
										/>
										ChatGPT
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/claude/D97757"
											alt="Claude logo"
										/>
										Claude
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/googlegemini/8E75B2"
											alt="Google Gemini logo"
										/>
										Gemini
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="/images/cursor-icon.svg"
											alt="Cursor logo"
										/>
										Cursor
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="/images/windsurf-logo.svg"
											alt="Windsurf logo"
										/>
										Windsurf
									</div>
								</div>
							</div>
						</div>
						<div
							class="absolute rounded-lg shadow-sm pointer-events-none inset-px ring-1 ring-[rgba(0,0,0,.05)] dark:ring-[rgba(255,255,255,.05)]"
						></div>
					</div>
					<div class="relative">
						<div class="absolute bg-white rounded-lg dark:bg-zinc-950 inset-px lg:rounded-br-[2rem]"></div>
						<div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-br-[calc(2rem+1px)]">
							<div class="p-8">
								<h3 class="text-xl font-semibold text-zinc-950 dark:text-zinc-50">PM & Communication</h3>
								<p class="max-w-lg mt-2 mb-4 text-zinc-600 dark:text-zinc-400 text-sm/6">
									Tools that keep projects moving smoothly, ideas organized, and teams aligned.
								</p>
								<div class="flex flex-wrap gap-2">
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4 dark:hidden"
											src="https://cdn.simpleicons.org/slack/4A154B"
											alt="Slack logo"
										/>
										<img
											height="16"
											width="16"
											class="hidden object-contain object-center w-4 h-4 dark:block"
											src="https://cdn.simpleicons.org/slack/7C3085"
											alt="Slack logo"
										/>
										Slack
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/trello/0052CC"
											alt="Trello logo"
										/>
										Trello
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="/images/bugherd-logo.webp"
											alt="BugHerd logo"
										/>
										BugHerd
									</div>
									<div
										class="flex items-center gap-2 rounded-xl border border-black/[0.14] dark:border-white/[0.14] bg-white dark:bg-zinc-900 px-3 py-1 text-sm font-medium"
									>
										<img
											height="16"
											width="16"
											class="object-contain object-center w-4 h-4"
											src="https://cdn.simpleicons.org/jira/0052CC"
											alt="Jira logo"
										/>
										Jira
									</div>
								</div>
							</div>
						</div>
						<div
							class="absolute rounded-lg shadow-sm pointer-events-none inset-px ring-1 ring-[rgba(0,0,0,.05)] dark:ring-[rgba(255,255,255,.05)] lg:rounded-br-[2rem]"
						></div>
					</div>
				</div>
			</div>
		</div>

		<div class="py-12 mx-auto md:py-16 max-w-7xl">
			{% set codeOnlyProjects = [ { id: 1, title: 'STL 2030 Progress', subtitle: 'Dynamic web experience to visualize regional economic progress',
			content: 'Collaborated with Tremendousness to build a performant, accessible frontend featuring 60+ charts and hundreds of initiatives via Tableau
			and ArcGIS. Focused on custom theming, data viz, and WCAG compliance.', imageUrl: '/images/stl-2030-progress.webp', altText: 'Homepage hero image of
			the STL 2030 Progress website. It features a stylized infographic arrow made of red, yellow, and blue bands pointing to a compass icon. Text reads
			"Progress to 2030" with a description about tracking inclusive economic growth in the St. Louis metro.', date: 'July 2024', dateTime: '2024-07',
			link: 'https://stl2030progress.com/', prettyLink: 'stl2030progress.com', tags: [ { label: 'Development', color: 'amber-500' }, { label:
			'Interactivity', color: 'emerald-500' }, { label: 'Visualization', color: 'fuchsia-500' } ] }, { id: 2, title: 'Unigroup', subtitle: 'Dual-site,
			modular, brand-specific frontend dev for national moving giants', content: 'Joined forces with HLK to develop dual-brand frontend architecture for
			Unigroup’s flagship moving sites, Mayflower Moving and United Van Lines. Balanced consistent design systems with unique branding for each carrier,
			tackling large-scale content and UI complexity with a shared technical foundation.', imageUrl: '/images/mayflower-moving-united-van-lines.webp',
			altText: 'Side-by-side comparison of hero sections from Mayflower and United Van Lines websites. The Mayflower section on the left features a green
			background with white serif text reading "Mayflower® Moving Companies: America’s Most Trusted Mover" alongside a map illustration with location
			pins. The United Van Lines section on the right features a blue and white design with the headline "United Moving Companies – We Take Care Of It
			All" and a cityscape line drawing at the bottom. Both sections include "Get a Quote" call-to-action buttons.', date: 'December 2019', dateTime:
			'2019-12', link: 'https://www.mayflower.com/', prettyLink: 'mayflower.com', secondaryLink: 'https://www.unitedvanlines.com/', secondaryPrettyLink:
			'unitedvanlines.com', tags: [ { label: 'Development', color: 'amber-500' } ] }, { id: 3, title: 'School Choice Matters', subtitle: 'Custom,
			interactive policy explorer for national nonprofit advocacy team', content: 'Built in partnership with Tremendousness for ExcelinEd, this
			Tailwind-powered site integrates ACF and Alpine.js for interactive maps, tabbed content, and dynamic state-by-state views. Prioritized accessibility
			and mobile usability while visualizing complex educational policy data.', imageUrl: '/images/school-choice-matters.webp', altText: 'Homepage hero
			image of ExcelinEd’s School Choice Matters website. Light blue background with clouds, school buildings, and children walking toward a school bus.
			Text reads "How can my state give all children access to the educational opportunities they deserve?"', date: 'November 2024', dateTime: '2024-11',
			link: 'https://schoolchoicematters.org/', prettyLink: 'schoolchoicematters.org', tags: [ { label: 'Development', color: 'amber-500' }, { label:
			'Interactivity', color: 'emerald-500' }, { label: 'Visualization', color: 'fuchsia-500' } ] }, { id: 4, title: 'Artesys', subtitle: 'Custom
			marketing site and advisor-focused portfolio builder', content: 'Frontend development for a dynamic portfolio recommendation app embedded within a
			WordPress site, helping advisors guide clients to smarter retirement strategies with ease and clarity. Joint effort between Kestrel and Atomicdust',
			imageUrl: '/images/artesys.webp', altText: 'Screenshot of the Artesys homepage featuring the headline "Build your future with Artesys." followed by
			the tagline "Retirement investing strategies done for you." The layout includes four diverse, lifestyle-oriented photos of people of different ages
			and ethnicities, with a highlighted text box that reads: "Artesys is driven to help shape a future where a secure and fulfilling retirement is not
			just a dream, but a reality for everyone." A green call-to-action button below says "See the Artesys advantage."', date: 'March 2024', dateTime:
			'2024-03', link: 'https://artesysonline.com/', prettyLink: 'artesysonline.com', tags: [ { label: 'Development', color: 'amber-500' }, { label: 'Wep
			App', color: 'rose-500' }, { label: 'UX Enhancements', color: 'lime-500' } ] }] %}

			{{
				projectTabs(
					"Crafting Code",
					"Under the Hood",
					"Projects where I focused on frontend development and acted as the connective tissue between designers, developers, clients, and stakeholders—translating vision into shipped, accessible, performant code.",
					codeOnlyProjects
				)
			}}
		</div>
	</section>
	<section class="px-6 md:px-12 max-w-[108rem] mx-auto">
		<div class="mx-auto max-w-7xl">
			<div class="py-12 border-t md:py-16 border-zinc-100 dark:border-zinc-800">
				<!-- Yes, this is the example layout from Simon Vrachliotis' Pixel Perfect Figma to Tailwind workshot on EpicWeb.dev. I haven't taken the course, but I saw the design and just HAD to try to recreate it. -->
				<div class="flex flex-col-reverse xl:grid xl:grid-cols-2 gap-x-20 gap-y-12 xl:items-center">
					<div>
						{% set logos = [ { name: 'AAO', src: '/images/icon--aao.webp', alt: 'AAO', link: 'https://techselect.aaoinfo.org/', ariaLabel: 'Visit
						AAO TechSelect website (opens in new tab)', colStart: 1 }, { name: 'Artesys', src: '/images/icon--artesys.webp', alt: 'Artesys', link:
						'https://artesysonline.com/', ariaLabel: 'Visit Artesys website (opens in new tab)', colStart: 4 }, { name: 'Ascent', src:
						'/images/icon--ascent.webp', alt: 'Ascent', link: 'https://www.ascentcorp.com/', ariaLabel: 'Visit Ascent website (opens in new tab)',
						colStart: 1 }, { name: 'Big Blue Spark', src: '/images/icon--big-blue-spark.webp', alt: 'Big Blue Spark', link:
						'https://www.bigbluespark.com/', ariaLabel: 'Visit Big Blue Spark website (opens in new tab)', colStart: 2 }, { name: 'Cole Schotz',
						src: '/images/icon--cole-schotz.webp', alt: 'Cole Schotz', link: 'https://www.coleschotz.com/', ariaLabel: 'Visit Cole Schotz website
						(opens in new tab)', colStart: 4 }, { name: 'Convoy of Hope', src: '/images/icon--convoy-of-hope.webp', alt: 'Convoy of Hope', link:
						'https://convoyofhope.org/', ariaLabel: 'Visit Convoy of Hope website (opens in new tab)', colStart: 5 }, { name: 'Focal Pointe', src:
						'/images/icon--focal-pointe.webp', alt: 'Focal Pointe', link: 'https://www.yourfocalpointe.com/', ariaLabel: 'Visit Focal Pointe website
						(opens in new tab)', colStart: 1 }, { name: 'GSL', src: '/images/icon--gsl.webp', alt: 'GSL', link: 'https://stl2030progress.com/',
						ariaLabel: 'Visit GSL website (opens in new tab)', colStart: 2 }, { name: 'Kate & Co', src: '/images/icon--kate-and-co.webp', alt: 'Kate
						& Co', link: 'https://www.kateandcollc.com/', ariaLabel: 'Visit Kate & Co website (opens in new tab)', colStart: 3 }, { name:
						'Mayflower', src: '/images/icon--mayflower.webp', alt: 'Mayflower', link: 'https://www.mayflower.com/', ariaLabel: 'Visit Mayflower
						website (opens in new tab)', colStart: 4 }, { name: 'OFC', src: '/images/icon--ofc.webp', alt: 'OFC', link:
						'https://oldfashioncandy.com/', ariaLabel: 'Visit OFC website (opens in new tab)', colStart: 5 }, { name: 'Pathways Matter', src:
						'/images/icon--pathways-matter.webp', alt: 'Pathways Matter', link: 'https://pathwaysmatter.org/', ariaLabel: 'Visit Pathways Matter
						website (opens in new tab)', colStart: 2 }, { name: 'Premium', src: '/images/icon--premium.webp', alt: 'Premium', link:
						'https://premiumretail.com/', ariaLabel: 'Visit Premium Retail website (opens in new tab)', colStart: 3 }, { name: 'Rosenthal', src:
						'/images/icon--rosenthal.webp', alt: 'Rosenthal', link: 'https://rosenthalwinemerchant.com/', ariaLabel: 'Visit Rosenthal Wine Merchant
						website (opens in new tab)', colStart: 4 }, { name: 'Switzerfilm', src: '/images/icon--switzerfilm.webp', alt: 'Switzerfilm', link:
						'https://www.switzerfilm.com/', ariaLabel: 'Visit Switzerfilm website (opens in new tab)', colStart: 5 }, { name: 'Thompson Center',
						src: '/images/icon--thompson-center.webp', alt: 'Thompson Center', link: 'https://thompsoncenter.missouri.edu/', ariaLabel: 'Visit
						Thompson Center website (opens in new tab)', colStart: 2 }, { name: 'UHSP', src: '/images/icon--uhsp.webp', alt: 'UHSP', link:
						'https://www.uhsp.edu/', ariaLabel: 'Visit UHSP website (opens in new tab)', colStart: 3 }, { name: 'Ultramodern', src:
						'/images/icon--ultramodern.webp', alt: 'Ultramodern', link: 'https://www.ultramodern.com/', ariaLabel: 'Visit Ultramodern Pool & Patio
						website (opens in new tab)', colStart: 4 }, { name: 'United Van Lines', src: '/images/icon--united-van-lines.webp', alt: 'United Van
						Lines', link: 'https://www.unitedvanlines.com/', ariaLabel: 'Visit United Van Lines website (opens in new tab)', colStart: 5 }, { name:
						'WashU', src: '/images/icon--washu.webp', alt: 'WashU', link: 'https://mir.wustl.edu/', ariaLabel: 'Visit WashU MIR website (opens in
						new tab)', colStart: 2 }, { name: 'Zelis', src: '/images/icon--zelis.webp', alt: 'Zelis', link: 'https://www.zelis.com/', ariaLabel:
						'Visit Zelis website (opens in new tab)', colStart: 4 } ] %}

						<ul
							class="flex flex-wrap gap-4 xl:grid xl:grid-cols-5 xl:grid-rows-6 [&>*]:w-[calc(33.333%-0.667rem)] sm:[&>*]:w-[calc(25%-.75rem)] md:[&>*]:w-[calc(16.667%-.8333rem)] xl:[&>*]:w-full"
						>
							{% for logo in logos %}
							<li class="xl:col-start-{{ logo.colStart }}">
								<a
									href="{{ logo.link }}"
									target="_blank"
									rel="noopener noreferrer"
									class="block p-6 rounded-lg bg-fuchsia-50 aspect-square"
									aria-label="{{ logo.ariaLabel }}"
								>
									<figure class="block">
										<img
											src="{{ logo.src }}"
											srcset="{{ logo.src | replace('.webp', '-59.webp') }} 59w, {{ logo.src | replace('.webp', '-118.webp') }} 118w"
											sizes="59px"
											alt="{{ logo.alt }}"
											loading="lazy"
											decoding="async"
											class="object-contain w-full h-full"
										/>
									</figure>
								</a>
							</li>
							{% endfor %}
						</ul>
					</div>
					<div>
						<h3 class="mb-3 text-base font-medium text-fuchsia-600 dark:text-fuchsia-500">Collaborations</h3>
						<h4 class="mb-5 text-3xl font-semibold md:text-4xl text-zinc-950 dark:text-zinc-50">Teaming Up with Top Brands</h4>
						<p class="max-w-2xl mb-4 text-lg md:text-xl text-zinc-600 dark:text-zinc-400">
							From local startups to global enterprises, I&rsquo;ve had the joy of working with a diverse range of clients to bring their digital
							visions to life.
						</p>
						<p class="max-w-2xl text-lg md:text-xl text-zinc-600 dark:text-zinc-400">
							Each of these websites was developed either by me alone or in close collaboration with a teammate.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock %}
