{% if structuredData %}
<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Person",
		"name": "Chris Spurlock",
		"jobTitle": "Senior Front-End Developer & UI Designer",
		"url": "https://chrisspurlock.com",
		"sameAs": [
			"https://twitter.com/chrisspurlock",
			"https://www.linkedin.com/in/chrisjspurlock/",
			"https://www.instagram.com/chrisspurlock",
			"https://github.com/cjspurlock",
			"https://www.strava.com/athletes/119568009/"
		],
		"worksFor": {
			"@type": "Organization",
			"name": "Self-Employed"
		}
	}
</script>

<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "WebSite",
		"name": "Chris Spurlock Portfolio",
		"url": "https://chrisspurlock.com",
		"description": "{% if description %}{{ description }}{% else %}Senior Front-End Developer and UI Designer, passionate about crafting beautiful, accessible web experiences.{% endif %}",
		"author": {
			"@type": "Person",
			"name": "Chris Spurlock"
		}
	}
</script>
{% endif %}
